<h2 mat-dialog-title><span *ngIf="action">Atualizar</span> <span *ngIf="!action">Adicionar</span> Stock</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="mb-4">
      <label for="product" class="block text-sm font-medium text-gray-700"
        >Produto</label
      >
      <select
        id="product"
        formControlName="productId"
        name="product"
        required
        class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
      >
        <option [value]="-1" disabled [selected]="!stock.productId">
          -- Selecione --
        </option>
        <option *ngFor="let product of getlistProductId" [value]="product.id">
          {{ product.name }}
        </option>
      </select>
    </div>

    <div class="mb-4">
      <label for="quantity" class="block text-sm font-medium text-gray-700"
        >Quantity</label
      >
      <input
        id="quantity"
        type="number"
        formControlName="quantity"
        name="quantity"
        required
        class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
      />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="w-full flex justify-end align-bottom mx-4 gap-3">
    <button mat-button (click)="onClose()">Cancelar</button>
    <button
      color="primary"
      (click)="onSave()"
      class="py-2 px-4 bg-black text-white rounded-md hover:bg-gray-900 transition"
    >
      Salvar
    </button>
  </div>
</mat-dialog-actions>
