<h2 mat-dialog-title class="text-xl font-semibold text-gray-800 mb-4">
  Adicionar Venda
</h2>
<mat-dialog-content class="space-y-6">
  <form class="space-y-4" [formGroup]="form">
    <div>
      <label for="product" class="block text-sm font-medium text-gray-700">
        Produto
      </label>
      <select
        id="product"
        formControlName="productId"
        name="product"
        [class.border-red-500]="
          form.get('productId')?.touched && form.get('productId')?.invalid
        "
        [disabled]="action"
        required
        (change)="getStockById()"
        class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
      >
        <option [value]="-1" disabled [selected]="!sale.productId">
          -- Selecione um produto --
        </option>
        <option *ngFor="let product of getlistProductId" [value]="product.id">
          {{ product.name }}
        </option>
      </select>
      <p
        *ngIf="form.get('productId')?.touched && form.get('productId')?.errors"
        class="text-red-500 text-sm mt-1"
      >
        Campo obrigatório!
      </p>
    </div>

    <div>
      <label for="quantity" class="block text-sm font-medium text-gray-700">
        Quantidade
      </label>
      <input
        id="quantity"
        type="number"
        formControlName="quantity"
        name="quantity"
        min="1"
        step="1"
        [class.border-red-500]="
          form.get('quantity')?.touched && form.get('quantity')?.invalid
        "
        required
        class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
        placeholder="Digite a quantidade"
      />
      <p
      *ngIf="form.get('quantity')?.touched && form.get('quantity')?.errors"
      class="text-red-500 text-sm mt-1"
    >
      Campo obrigatório, valores acima de 0 e somente números inteiros!
    </p>
    </div>
  </form>

  <div class="bg-gray-50 p-4 rounded-md space-y-2">
    <div class="flex justify-between">
      <span class="font-medium text-gray-600">Quantidade Disponível:</span>
      <span class="font-semibold text-gray-800">{{
        stockProduct.quantity || 0
      }}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-medium text-gray-600">Preço Unitário:</span>
      <span class="font-semibold text-gray-800"
        >R$ {{ stockProduct.product.price || "-" }}</span
      >
    </div>
    <div class="flex justify-between border-t border-gray-300 pt-2">
      <span class="font-medium text-gray-600">Total da Venda:</span>
      <span class="font-semibold text-blue-600"
        >R$ {{ stockProduct.product.price * sale.quantity }}</span
      >
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="w-full flex justify-end gap-3">
    <button
      mat-button
      type="button"
      (click)="onClose()"
      class="py-2 px-4 text-gray-700 border border-gray-300 rounded-md hover:bg-gray-100 transition"
    >
      Cancelar
    </button>
    <!-- Botão Salvar -->
    <button
      (click)="addSale()"
      type="button"
      class="py-2 px-4 bg-black text-white rounded-md hover:bg-gray-900 transition"
    >
      Salvar
    </button>
  </div>
</mat-dialog-actions>
