<app-layout>
  <div class="w-full flex align-center justify-between mb-4">
    <div>
      <h1 class="text-2xl font-bold text-black mb-6">Sales</h1>
    </div>

    <div>
      <button
        class="py-2 px-4 bg-black text-white rounded-md hover:bg-gray-900 transition"
        (click)="addSale()"
      >
        + Sale
      </button>
    </div>
  </div>

  <div class="border border-gray-300 rounded-2xl w-full p-3 mb-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6">
        <div>
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="Name"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <input
            id="startDate"
            type="date"
            formControlName="startDate"
            placeholder="Start Date"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <input
            id="endDate"
            type="date"
            formControlName="endDate"
            placeholder="End Date"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div class="flex justify-between items-center space-x-4">
          <button
            type="button"
            class="py-2 px-4 text-black hover:text-blue-600"
            (click)="clearFilters()"
          >
            Clear
          </button>

          <button
            type="submit"
            class="w-full py-2 px-4 bg-black text-white rounded-md hover:bg-gray-900 transition"
          >
            Filter
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div class="flex flex-col items-center p-4 bg-white rounded-lg shadow-sm">
    </div>
    <div class="flex flex-col items-center p-4 bg-white rounded-lg shadow-sm">
    </div>
    <div class="flex flex-col items-center p-4 bg-white rounded-lg shadow-sm">
      <span class="text-sm font-medium text-gray-500">Valor Total das Vendas</span>
      <span class="text-2xl font-bold text-black">{{ totalSales }}</span>
    </div>
    <div class="flex flex-col items-center p-4 bg-white rounded-lg shadow-sm">
      <span class="text-sm font-medium text-gray-500">Q. de Produtos Vendidos</span>
      <span class="text-2xl font-bold text-black">{{ totalProductsSold }}</span>
    </div>
  </div>

  <div class="border border-gray-300 rounded-2xl">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="saleId">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name product</th>
        <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.product.price }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>TotalPrice</th>
        <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
      </ng-container>

      <ng-container matColumnDef="saleDate">
        <th mat-header-cell *matHeaderCellDef>SaleDate</th>
        <td mat-cell *matCellDef="let element">
          {{ element.saleDate | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex justify-center items-center gap-2">
            <button
              class="w-[35px] h-[35px] bg-red-700 text-white rounded-full flex justify-center items-center hover:bg-red-900 focus:outline-none"
              (click)="deleteSale(element.id)"
            >
              <span class="material-symbols-outlined text-lg">delete</span>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</app-layout>
